/* Body Styling */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Raleway:700');

body{
  background-color: #ededed;
  color:#212121;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
}

/* Navbar Styling */
.navbar-custom {
  background-color: #ededed;
  margin-bottom: 5px;
}
.navbar-custom .navbar-brand {
  color: #161717;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #444141;
}
.navbar-custom .navbar-text {
  color: #161717;
}
.navbar-custom .navbar-nav > li > a {
  color: #161717;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #444141;
}
.navbar-custom .navbar-nav > li > .dropdown-menu {
  background-color: #fafafa;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
  color: #161717;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #444141;
  background-color: #140a18;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #140a18;
}
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fafafa;
  background-color: #140a18;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #fafafa;
  background-color: #140a18;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #fafafa;
  background-color: #140a18;
}
.navbar-custom .navbar-toggle {
  border-color: #fafafa;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fafafa;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #212121;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #fafafa;
}
.navbar-custom .navbar-link {
  color: #161717;
}
.navbar-custom .navbar-link:hover {
  color: #444141;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #161717;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #444141;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #444141;
    background-color: #140a18;
  }
}

/* Heads */
.heads{
  min-height: 400px;
}

.heads h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media(min-width: 800px){
  .heads h1{
    padding-top: 120px;
  }
}

@media (max-width: 700px){
  .heads h1{
    padding-top: 80px;
    font-size: 4em;
  }
}
@media (max-width: 500px){
  .heads h1{
    padding-top: 80px;
    font-size: 3em;

  }
}

.heads h5{
  font-weight: 100;
  font-size: 1em;
}

.heads p{
  margin-top: 100px;
  padding-bottom:25px;
}

.hover-card:hover{
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,.2);
  padding: 10px;
  margin: 5px;
  color: #1e88e5;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.hover-card a{
  text-decoration: none;
}

/* Button */
.btn-custom{
  background-color: #2196f3;
  color: #ffffff;
}

.btn-custom:hover{
  background-color: #1976d2;
  color: #ffffff;
}

.button {
    padding: 20px 26px;
    border: 0 none;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow:0px 0px 5px grey;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-md{
  border-radius: 100px;
}


.profile{
  padding-top: 25px;
}

/*
.img-responsive{
 box-shadow: 0 0 20px #616161;
}*/

.img-responsive:hover{
 box-shadow: none;
}



/* About card */
.about{
  margin-top: 100px;
  max-height: 400px;
}

.about h1{
  font-weight: 300;
  text-transform: uppercase;
}

.about hr{
  border:1px solid #aeaaaa;
}

.about h4{
  color: #009688;
  font-weight: 500;
  text-transform: uppercase;
}

.about p {
  font-size: 16px;
}

.about .col-lg-4{
  padding-top: 10px;
}

.story-card{
  padding: 0px 20px 20px 20px;
}

.story-card p{
  padding-top: 10px;
  font-size: 16px;
}

.about-card{
  color: #fafafa;
  background-color: #673ab7;
  border-radius: 3px;
  padding: 0px 20px 0px 20px;
  box-shadow: 0 0 15px rgba(0,0,0,.2);
}

@media (max-width: 1200px){
  .about-card{
    margin: 20px;
    padding: 10px;
  }
}

@media (max-width: 900px){
  .about-card{
    margin: 20px;
    padding: 10px;
  }
}

@media (max-width: 500px){
  .about-card{
    margin: 10px;
    padding: 10px;
  }
}

.history .panel-group{
  padding-top: 5px;
}

.panel-group li{
  font-size: 15px;
}

/* Project */

.project-details p{
  font-size: 15px;
}
.project-details h5{
  padding-top: 5px;
}

/* Modal */
.modal-footer{
  border-top: none;
}

.social-icon {
    color: #fafafa
}
